<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/home" routerDirection="root">
        <ion-icon slot="start" name="arrow-round-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title style="padding: 0;">
      <ion-img src="../../assets/LOGO_Medicare_ANGOLA.svg" class="logo"></ion-img>
    </ion-title>
    <!-- <button slot="end" mat-icon-button matTooltip="Logout" matTooltipPosition="left" (click)="functions.onLogout()">
      <mat-icon>arrow_back</mat-icon>
    </button> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="center_pg">
    <ion-row>
      <ion-col size="12">
        <ion-img src="../../assets/warning.svg" style="height: 150px;"></ion-img>
      </ion-col>
      <ion-col size="12">
        <label>Utilizador não tem permissão para acessar esta página!</label>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>