table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.mat-column-action {
    text-align: center !important;
}

mat-drawer-content {
    background: #ffffff url('../../assets/home.jpg') !important;
}